{% load static %}

<div class="ControlPanel">
    <div class="wrap">
        <div class="row_ ControlPanel-row">
            <div class="row-block">
                <div class="row_ ControlPanel-rowSplit">
                    <div class="row-block hide_700">
                        <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                            <li class="menu-item"><a class="menu-link" href="#"><img
                                    src={% static "assets/img/icons/socialHeader/tw.svg" %} alt="tw.svg"/></a>
                            </li>
                            <li class="menu-item"><a class="menu-link" href="#"><img
                                    src={% static "assets/img/icons/socialHeader/in.svg" %} alt="in.svg"/></a>
                            </li>
                            <li class="menu-item"><a class="menu-link" href="#"><img
                                    src={% static "assets/img/icons/socialHeader/pt.svg" %} alt="pt.svg"/></a>
                            </li>
                            <li class="menu-item"><a class="menu-link" href="#"><img
                                    src={% static "assets/img/icons/socialHeader/mail.svg" %} alt="mail.svg"/></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="row-block">
                <div class="row_ ControlPanel-rowSplit">
                    <div class="row-block"><a class="ControlPanel-title" href="{% url 'login' %}">Вход</a>
                        <a class="ControlPanel-title" href="{% url 'reg' %}">Регистрация</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>