{% extends 'base_form.html' %}

{% block title %}Password recovery{% endblock title %}
{% load static %}
{% block content %}

    <div class="wrap">
        <div class="row_ Header-rowMain">
            <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image"
                                                                                      src="{% static "assets/img/logo.png" %}"
                                                                                      alt="logo.png"/></a>
            </div>
        </div>


        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Восстановление пароля (2/2)</h3>
                <h5>Придумайте новый пароль для учетной записи</h5>
            </div>

            <form method="post">
                <div>
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div>
                    <input type="submit" value="Сохранить пароль"/>
                </div>
            </form>
        </div>

    </div>

{% endblock content %}