{% extends 'base_form.html' %}

{% block title %}Registration{% endblock title %}
{% load static %}
{% block content %}






    <div class="wrap">
        <div class="row_ Header-rowMain">
            <div class="row-block Header-logo"><a class="logo" href="index.html"><img class="logo-image"
                                                                                      src={% static "assets/img/logo.png" %} alt="logo.png"/></a>
            </div>
        </div>


        <div class="wrapper">
            <div class="header">
                <h3 class="sign-in">Регистрация</h3>

            </div>
            <div class="clear"></div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Зарегистрироваться"/>


                <a class="registr" href="{% url 'login' %}">
                    Вход
                </a>
                <div class="clear"></div>
            </form>
        </div>

    </div>


{% endblock content %}